.navigation{
    display: flex;
    gap: 10px;
    padding: 10px;
    height:fit-content;
    width:fit-content;
    background-color: aquamarine;
    
}
.btn{
    height: fit-content;
    background-color: rgb(185, 250, 185);
    width:fit-content;
    padding: 10px;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 10px;
    box-shadow:2px 2px 0px 0px black;
}
.btn:hover{
    background-color: greenyellow;
}