/*body{
    background-color: red;
}*/
/* p{
    background-color: aqua;
    color: black;
}*/
/* .para1{
    background-color: red;
    color:black;
}  */
  div~p{
    background-color: aquamarine;
  }
  p:hover{
    background-color: red;
  }
  p::after{
    content: "hiii";
    background-color: aqua;
  }
  p::selection{
    background-color: blue;
  }