.heading{
    font-size: 50px;
}
span{
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
}
.container{
    background-color: rgb(255, 255, 255);
    border:1px solid black;
    padding:10px;
    box-shadow: 10px 10px 0px 0px ;

}

.box{
    padding-left: 20px;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 10px;
}
.photo{
    width:200px;
    
}